body {
    margin: 0 auto;
    max-width: 50%;
    line-height: 1.6;
    font-size: 18px;
    color: #FC0;
    background-color: #100500;
    padding-top: 50px;
}

h1, h2, h3 {
    line-height: 1.2;
}

a {
    color: #F00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #c09;
}
